.intro {
    color: #f5f6fa;
    text-align: center;
    margin-top: 7%;
}

body{
    background-color: #487eb0;
}
a{
    color : #fbc531;
}
.intro img {
    border-radius: 50%;
    max-width: 20%;
    max-height: 20%;
    border : 7px solid black;
}